{% extends "base.html" %}
{% load static %}
{% block title %}{{ form.instance.pk|yesno:"Edit Post,New Post" }}{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'App/form.css' %}">
{% endblock %}

{% block content %}
<div class="container">
  <h1>{{ form.instance.pk|yesno:"Edit Post,New Post" }}</h1>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-success">Save</button>
    <a href="{% url 'App:post_list' %}" class="btn btn-secondary">Cancel</a>
  </form>
</div>
{% endblock %}
