{% extends "base.html" %}
{% load static %}

{% block title %}{{ form.instance.pk|yesno:"Edit Post,New Post" }}{% endblock %}

{% block extra_css %}
{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'form.css' %}">
<div class="container form-container">
  <h1>{{ form.instance.pk|yesno:"Edit Post,New Post" }}</h1>

  <form method="post" enctype="multipart/form-data" class="post-form">
    {% csrf_token %}
    
    <div class="form-group">
      <label for="id_title">Title</label>
      {{ form.title }}
    </div>
    
   <div class="form-group">
  <label for="id_category" class="form-label">Category</label>
  <select name="category" id="id_category" class="form-select">
    <option value="" disabled {% if not form.category.value %}selected{% endif %}>-- Select Category --</option>
    {% for cat in categories %}
      <option value="{{ cat.id }}" {% if form.category.value == cat.id|stringformat:"s" %}selected{% endif %}>
        {{ cat.name }}
      </option>
    {% endfor %}
  </select>
</div>

    
    <div class="form-group">
      <label for="id_content">Content</label>
      {{ form.content }}
    </div>

    <div class="form-group">
      <label for="id_image">Image</label>
      {{ form.image }}
    </div>


    <div class="form-buttons">
      <button type="submit" class="btn btn-success">Save</button>
      <a href="{% url 'App:post_list' %}" class="btn btn-secondary">Cancel</a>
    </div>
  </form>
</div>
{% endblock %}
